.header {
    position: relative;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-gray-100);
    font-family: var(--font-magra);
    font-size: var(--font-size-xl);
    font-weight:600;
    }

.b1,
.b2,
.logoIcon {
    cursor: pointer;
    text-decoration: none;
    color: black;
    }

.b2 {
    padding: 20px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-tan);
    margin-right: 20px;
    font-weight: 600;
    font-size: smaller;
    }
.logoIcon {
    width: 133px;
    height: 75px;
    }

.logoparents{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 133px;
    height: 75px;
    overflow:hidden;

    /* 상우하좌 북동남서 */
    margin: 10px 10px 10px 30px; 
}

.parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-31xl);
}


