.body{
    position: relative;
    top: 0;
    margin: 0;
}

.background{
    position: absolute;
    margin: 0;
    width: 100%; 
    height: calc(100vh - 100px);
    overflow: hidden;
    z-index: 1; 
}
.nav{
    position: relative;
    z-index: 2;
    /* top: 0; */
    width: 100%;
    height: auto;
}
.rlist{
    position:relative;
    z-index: 3;
    width: 30vw;
}