.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh
}


.loginpage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  height: 50vh;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
  font-family: var(--font-magra);
}

.b5 {
  font-weight: bold;
  
}

.logoimg{
  width: 170px;
}

.kakaologo{
  cursor: pointer;
  width: 70%;
}
