/* CSS 파일 */
.flexContainer {
  display: flex;
  justify-content: space-between; /* 좌우 정렬 */
  align-items: flex-start; /* 상단 정렬 */
  /* 추가적인 스타일링을 원하면 여기에 추가 */
}

.ChatList {
  flex: 1;
  height: 83vh;
  box-shadow: 3px 0px 3px -2px rgb(202, 202, 202);
  /* width: 10vw; */
}

.ChatContent {
  flex: 9;
  height: 67vh;
  overflow: auto;
  padding: 20px;
  /* width: 90vw; */
}

.chatmessage {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  /* width: 100vh; */
}

.chatroom {
  display: flex;
  justify-content: center;
}

.yourchatbox {
  display: flex;
  justify-content: left;
  align-items: end;
}

.yourballoon {
  background-color: rgb(217, 217, 217, 0.8);
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 10px;
}
.yourballoontime {
  display: flex;
  justify-content: flex-end;
  margin-left: 5px;
}

.mychatbox {
  display: flex;
  justify-content: right;
  align-items: end;
}
.myballoon {
  background-color: rgba(199, 173, 146, 0.8);
  border-radius: 15px;
  padding: 10px 20px;
  margin-right: 10px;
}

.myballoontime {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.EnterLiveBtn {
  background-color: rgb(164, 118, 83);
  color: white;
  border-radius: 15px;
  position: fixed;
  bottom: 0px;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  right: 3vw;
}

.sendmessage {
  position: fixed;
  bottom: 5px;
  left: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.sendmessage input {
  width: 100vh;
  height: 25px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  padding-left: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(233, 233, 233);
}

.sendmessage button {
  border-radius: 15px;
}
